
#contents p {
  margin-bottom: 4px;
}

.add-to-cart, .view-variant {
  color: #03930F;
  border: 1px solid #03930F;
  width: auto;
  text-align: center;
  display: block;
  float: left;
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
  transition: background-color 300ms;
  margin-top: 30px;
  padding: 14px 10px;
}

.add-to-cart:hover, .view-variant:hover {
  color: #fff;
  background-color: #03930F;
}

#contents {
  padding-top: 100px;
}

#contents img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
}

#contents .main-img {
  width: 100% !important;
}

.center {
  text-align: center;
}

.articles .slick-slide {
  padding: 20px;
}

.articles .slick-track{ margin-left: 0; }

.breadcrumbs {
  font-weight: bold;
  text-transform: uppercase;
  color: #03930F;
}

.breadcrumbs .divider {
  margin: 0 5px;
}

@media only screen and (max-width: 620px){
  #contents h1 {
    font-size: 30px;
  }
}
