
/*
        #scroll-box .box {
            float: left;
            padding: 30px;
            position: relative;
        }


*/

#top {
  height: auto;
}
#scroll-box .box p:before {
    content: '';
    width: 14px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-left: -22px;
    position: relative;
    top: 9px;
}
#scroll-box .box p {
    font-size: 22px;
    line-height: 22px;
}

#scroll-box .box.r img {
    float: right;
    width: 90%;
}

#scroll-box .box.r {
    padding-top: 150px;
}

#scroll-box .box.r p {
    position: absolute;
    bottom: 7px;
}

#scroll-box .box .active {
    position: fixed;
    top: 30%;
}
#scroll-box {
  position: relative;
}
#dbox {
    top: 0;
}

.products-scroll img {
  margin: 0 20px 20px 0;
  height: 240px;
}

#featured {
    position: relative;
}

#featured-slide img {
    max-height: 50vh;
}

#featured .follow {
    transition: left 300ms linear;
}

#featured .follow h1 {
    font-size: 40px;
    position: absolute;
    z-index: 1;
    left: 0;
    color: #03930f;
}

#featured .follow.active {
    position: fixed;
    top: 5vh;
    width: 80%;
    left: 70px;
    height: 30px;
}

#featured {
}


#dbox {
}

/* ---- grid ---- */

.grid {
    height: 500px;
    margin: 0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item img {
    max-height: 25vh;
}

#featured-mobile {
  display: none;
}


#featured-mobile .slick-slide img {
  width: 100%;
}

#parallax {
  position: relative;
  width: 3000px;
}
#parallax img{
  margin: 10px;
}

@media only screen and (max-width: 1200px) {
  .products-scroll img {
    height: 200px;
  }
  #dbox {
    top: 60px;
  }
}
@media only screen and (max-width: 991px) {
  #featured .follow h1 {
      font-size: 30px;
  }
}

@media only screen and (max-width: 620px) {
  #featured {
    display: none;
  }

  #featured-mobile {
    display: block;
  }

  h1 {
    font-size: 30px;
  }
}


