
.overlay {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  top: 0;
}

.overlay .panel {
  position: fixed;
  right: 0;
  height: 100vh;
  width: 40vw;
  background-color: #fff;
  z-index: 12;
  padding: 20vh 5vw;
}

.overlay .wrap {
  position: fixed;
  left: 0;
  height: 100vh;
  width: 60vw;
  z-index: 12;
}

.overlay .close-panel {
  font-size: 12px;
  color: #656565;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #656565;
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  float: right;
}
input[type=text] {
  border: 1px solid #998a77;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #998a77;
  font-size: 10px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 0 60px;
  color: #000;
  background-color: #ecd9bd;
  display: block;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  float: right;
  font-weight: 900;
  height: 40px;
}

textarea {
  border: 1px solid #998a77;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #998a77;
  font-size: 10px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 100px;
}

.panel input[type=text],.panel input[type=password] {
  border: 1px solid #998a77;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #998a77;
  font-size: 10px;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  margin-bottom: 20px;
  width: 100%;
}



.panel h2 {
  font-size: 18px;
}

.panel h3 {
  font-size: 12px;
}

.button {
  display: block;
  background-color: #03930f;
  color: #fff;
  text-align: center;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 10px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #03930f;
  color: #03930f;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
}

@media only screen and (max-width: 991px) {
  .overlay .panel {
    width: 70vw;
  }
}

@media only screen and (max-width: 620px) {
  .overlay .panel {
    width: 100vw;
  }
}
