/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    color: #03930F;
    font-weight: 400;
}

h1 {
    font-size: 50px;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

a {
  text-decoration: none;
  color: #03930f;
}

a:hover {
  color: #5dc366;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.custom-select {
  position: relative;
  padding: 0;
  border: 0;
  height: 30px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  border:0;
  height: 30px;
  background-image: url("../img/filter-arrow.png");
  background-position: 99% center;
  background-repeat: no-repeat;
}

/* Style the arrow inside the select element: */
/*.select-selected:after {*/
/*position: absolute;*/
/*content: "";*/
/*top: 14px;*/
/*right: 10px;*/
/*width: 0;*/
/*height: 0;*/
/*}*/

/*!* Point the arrow upwards when the select box is open (active): *!*/
/*.select-selected.select-arrow-active:after {*/
/*border-color: transparent transparent #fff transparent;*/
/*top: 7px;*/
/*}*/

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #000;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-color: #fff;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 500;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #fff;
  top: 29px;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid rgb(3 147 15);
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgb(3 147 15) !important;
  color: #fff;
}


/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
}

/*!* Style the arrow inside the select element: *!*/
/*.select-selected:after {*/
/*position: absolute;*/
/*content: "";*/
/*top: 14px;*/
/*right: 10px;*/
/*width: 0;*/
/*height: 0;*/
/*border: 6px solid transparent;*/
/*border-color: #fff transparent transparent transparent;*/
/*}*/

/*!* Point the arrow upwards when the select box is open (active): *!*/
/*.select-selected.select-arrow-active:after {*/
/*border-color: transparent transparent #fff transparent;*/
/*top: 7px;*/
/*}*/

/*!* style the items (options), including the selected item: *!*/
/*.select-items div,.select-selected {*/
/*color: #ffffff;*/
/*padding: 8px 16px;*/
/*border: 1px solid transparent;*/
/*border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;*/
/*cursor: pointer;*/
/*}*/

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.link-bt {
  padding: 12px 30px;
  color: #fff;
  background-color: #03930f;
  float: left;
  display: block;
  width: 100%;
  text-align: center;
  border: 1px solid #03930f;
}

.link-bt:hover {
  color: #03930f;
  background-color: #fff;
}

#message-bubble {
  background-color: #d6ffd9;
  margin-bottom: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#nav-wrap {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #03930F;
    z-index: 20;
    transition: all .5s ease;
    overflow-y: auto;
    top: -150%;
  padding-left: 60px;
}

#nav-wrap .row {
	padding-top: 6%;
}

#nav-wrap.active {
	top: 0;
}

#nav-wrap ul {
	padding-left: 0;
	margin: 0;
    margin-top: 20vh;
    margin-bottom: 15vh;
}

#nav-wrap ul li {
	list-style: none;
	float: left;
	width: 100%;
    margin-bottom: 30px;
}

#nav-wrap ul li a {
    font-size: 30px;
    line-height: 30px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    float: left;
    transition: all .5s ease;
    letter-spacing: 0;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    padding: 0 10px;
    padding-bottom: 20px;
}

#nav-wrap h2 {
	font-weight: bold;
}

#nav-wrap h2, #nav-wrap p {
	display: block;
	width: 100%;
}

#nav-wrap ul li a:hover {
  text-decoration: none;
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 0;
  -webkit-text-stroke-color: #fff;
  font-size: 32px;
  letter-spacing: 3px;
  /* margin-top: -7px; */
  font-weight: 400;
}

#nav a.cart span, #nav a.wishlist span {
  position: absolute;
  right: -5px;
  bottom: -2px;
  background-color: #000;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 14px;
  font-size: 10px;
  color: #fff;
  display: none;
  z-index: 1;
}

#nav a.cart span.active, #nav a.wishlist span.active {
  display: block;
}

#nav-wrap .col-md-3 {
	position: absolute;
	right: 0;
    top: 105px;
}

#menu-bt-close {
	position: absolute;
	top: 10px;
	right: 40px;
	width: 40px;
	cursor: pointer;
	display: none;
  max-width: 26px;
}


body {
    overflow-x: hidden;
}

#top {
    height: auto;
    width: 100%;
    background-color: #ccc;
    background-repeat: no-repeat;
    background-position: center;
}

#nav {
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 20;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    top: 0;
}

#nav a {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
}

#nav .right a {
  float: right;
  margin-left: 20px;
}

#nav.active .right a {
  color: #fff;
}

#nav i {
  font-size: 20px;
  line-height: 30px;
}

#menu-bt {
  height: 30px;
  background-image: url('../img/menu-icon.png');
  width: 30px;
}

#nav-logo {
    height: 100px;
  width: 30px;
    background-image: url('../img/are-logo-black.png');
  position: absolute !important;
}

#menu-bt.active  {
    background-image: url('../img/close-icon.png');
}

#nav-logo.active {
    background-image: url('../img/are-logo-white.png');
}

#menu-bt {
    display: block;
    height: 30px;
    margin-bottom: 20px;
}

#contents {
    position: relative;
    min-height: 50vh;
    box-sizing: border-box;
}

section.intro {
    min-height: 100vh;
}

section.intro {
    min-height: 100vh;
    margin-top: 20vh;
}

.intro .text {
    width: 30%;
    padding-top: 60px;
    float: left;
}

.intro .text h1 {
    font-weight: 300;
    font-size: 60px;
    line-height: 60px;
    color: #03930F;
    margin-top: 0;
    margin-bottom: 30px;
}

.intro .text p {
    font-size: 12px;
    line-height: 18px;
    padding-right: 30%;
}

.intro .slide {
    width: 70%;
    float: right;
}

.intro .slick-slide {
    padding: 10px 20px;
}

.intro .slick-slide img {
    width: 100%;
}
/*
#scroll-box img {
    max-height: 50vh;
    width: auto !important;
}

#scroll-box .box {
    margin-top: 20vh;
}
*/

#blog  {
    padding-top: 10vh;
}

#blog .bigtitle {
    font-weight: 400;
    font-size: 150px;
    line-height: 60px;
    color: #03930F;
    margin-top: -60px;
    margin-bottom: 30px;
    margin-left: 80px;
}

#blog .title {
    font-size: 14px;
    color: #03930F;
    text-align: left;
    margin-top: 12px;
}

#blog .excerpt {
    font-size: 12px;
    color: #000;
    text-align: left;
}

#blog a {
    color: #03930F;
    text-decoration: none;
}

#blog .blog-item {
    margin-bottom: 30px;
}

#newsletter {
    background-color: #03930F;
  margin-top: 60px;
}

#newsletter .container {
    position: relative;
}

#newsletter .container .left {
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    color: #fff;
}

#newsletter .container .title {
    font-size: 18px;
    margin: 15px 0 10px;
    display: inline-block;
}

#newsletter .container p {
    font-size: 12px;
}

#newsletter .container .right {
    padding: 59px 0;
    box-sizing: border-box;
    text-align: right;
    float: right;
}

#newsletter .container .right input[type="text"] {
    background-color: transparent;
    border: 1px solid #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 12px;
    text-align: center;
    color: #fff;
    width: 50%;
}

#newsletter .container .right input::-webkit-input-placeholder { /* Edge */
  color: #ccc;
}

#newsletter .container .right input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ccc;
}

#newsletter .container .right input::placeholder {
  color: #ccc;
}

#newsletter .container .right input[type="submit"] {
    background-color: transparent;
    border: 1px solid #fff;
    height: 40px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    color: #03930f;
    width: 40px;
    margin-left: 10px;
}

#reviews {
    height: 100vh;
    padding-top: 10vh;
    text-align: center;
}

#reviews {
    position: relative;
}

#reviews img {
    display: inline-block;
    width: 50%;
    max-width: 200px;
    transition: width 300ms linear;
    transition: margin 300ms linear;
    margin-top: 30px;
}

#reviews .slick-current img {
    width: 100%;
    margin-top: 0;
}

#reviews .bigtitle {
    font-weight: 400;
    font-size: 210px;
    color: #03930F;
    position: absolute;
    margin: 0;
    left: 10%;
    top: 40px;
}

#reviews-slide {
    min-height: 250px;
}


#reviews-slide .slick-slide {
    line-height: 250px;
}

#reviews-slide-content {
    max-width: 600px;
    display: inline-block;
}

#reviews-slide-content .title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

#reviews-slide-content .intro {
    color: #000;
    font-size: 14px;
}

#reviews-slide-content .rating {
    width: 20px !important;
}

#footer .container {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
}

#footer {
  border-bottom: 1px solid #03930F;
  margin-bottom: 60px;
}

#footer .left ul {
    float: left;
    padding: 0;
    list-style: none;
  width: 100%;
  margin-bottom: 0;
}

#footer .left ul a {
    text-decoration: none;
    color: #000;
    transition: color 300ms linear;
}

#footer .left ul a:hover {
    color: #03930F;
}


#footer .left ul .heading {
    font-size: 16px;
    margin-bottom: 12px;
}

#footer ul li {
  display: inline-block;
  width: 100%;
}

#footer .left ul li {
    margin-top: 6px;
}

.socials li {
  float: left;
  display: block !important;
  width: 30px !important;
  height: 30px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #03930f;
  text-align: center;
  line-height: 30px;
}


.socials li a i {
  color: #fff;
}

.form-error {
  color: #da6565;
  text-align: left;
  margin-bottom: 10px;
}

#subscribeSuccess, #subscribeError {
  display: none;
}

#footer .left {
    padding: 0;
}

#footer .right {
    text-align: right;
}

.top-title {
    margin-top: 140px;
    margin-bottom: 60px;
  text-transform: uppercase;
}

.full-top {
    padding-top: 0 !important;
}

#footer-logo {
  display: inline-block;
  width: 50px;
  height: 139px;
  background-image: url('../img/are-logo-black.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #707070;
  margin-bottom: 32px;
  padding: 0;
  height: 40px;
  line-height: 40px;
}

.form-control:focus, .form-control:active {
  outline: none !important;
}

form input[type=submit] {
  border: 1px solid #03930f;
  background-color: #fff;
  height: 40px;
  padding: 0 30px;
  color: #03930f;
  margin-bottom: 40px;
}

form input[type=submit]:hover {
  background-color: #03930f;
  color: #fff;
}

textarea.form-control {
  height: 150px;
  resize: none;
}

.inner-page {
  margin-top: 120px;
}

#breadcrumbs {
  margin-bottom: 20px;
}


.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 1;
}

.slick-next {
  right: 20px;
}

.slick-prev {
  left: 20px;
}

.arrow {
  border: solid #03930f;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 11px;
  cursor: pointer;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#nav.active i {
  color: #fff !important;
}

#nav.active .right a.green i {
  color:  #fff !important;
}

#nav.active #menu-bt {
  background-image: url('../img/menu-icon-white.png');
}

@media only screen and (min-width:1800px)  {
    #top {
        background-size: 100% auto;
    }
}

@media only screen and (max-width:991px)  {
    #top {
/*        background-size: 100% auto;*/
    }

    #newsletter .container .left, #newsletter .container .right  {
    }

    #footer .left ul {
        display: inline-block;
        float: none;
    }

  #nav-logo {
  }
}


@media only screen and (max-width:767px)  {


    #footer {
      text-align: center;
    }

  .socials li {
    display: inline-block !important;
    margin-right: 0;
    margin: 5px;
    float: none;
  }

    #nav-logo.active {
    }

    #nav-wrap ul li a {
        font-size: 20px;
        line-height: 20px;
        padding: 0;
        display: inline-block;
        float: none;
    }

    #nav-wrap ul li {
      padding: 0 20px;
    }

    #nav-wrap ul li a:hover {
        font-size: 20px;
    }

    #nav-wrap {
        overflow: auto;
    }
    #nav-wrap {
        padding-left: 0;
    }

    #newsletter .container .left, #newsletter .container .right  {
      text-align: center;
    }

    #newsletter .container .left {
      padding-bottom: 0;
    }

    #newsletter .container .right {
      padding-top: 0;
    }
    .top-title {
      font-size: 30px;
    }

  #newsletter .container .right input[type="text"] {
    width: 80%;
  }

  #newsletter .container .right input[type="submit"] {
    width: 50%;
    border-radius: 0;
    margin-left: 0;
    display: inline-block;
    float: none;
    margin-bottom: 0;
  }

  .custom-select {
    height: 40px;
  }

}

@media only screen and (max-width:576px)  {
  #footer .left ul .heading {
    margin-top: 30px;
  }

  #footer-logo {
  }

  #footer .right {
    padding-top: 30px;
    text-align: center;
  }

  #nav i {
    font-size: 20px;
    margin-top: 5px;
  }
}
