section.heading  {
    height: 300px;
    background-image: url(../img/shop/shop-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    position: relative;
}

section.heading  h1 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 40px;
    margin-top: -25px;
}

.product-col {
  margin-bottom: 60px;
}

.product-col .title {
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 16px;
  font-weight: bold;
}

.product-col .details {
  font-size: 12px;
}

@media only screen and (max-width:991px)  {
}

@media only screen and (max-width:620px)  {
}

@media only screen and (max-width:767px)  {
  .product-col .details, .product-col .title {
    text-align: center;
  }
}

section.heading .boverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 0%, rgba(255,255,255,0) 95%);
}

.product .brand {
    font-size: 14px;
    text-transform: uppercase;
}

.product .name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 22px;
}

.product .price {
    font-size: 14px;
    text-transform: uppercase;
}

.prodwrap {
    position: relative;
    margin-bottom: 20px;
}

.prodwrap .link {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.wish {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #000;
  cursor: pointer;
}

.wish.active {
  font-size: 30px;
  position: absolute;
  top: 0;
  right: 10px;
  color: #03930f;
  cursor: pointer;
}

.wish:hover i:before {
  color: #03930f;
}

.wish.active {
  color: #03930f;
}

.prodwrap .addtocart {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    top: 0;
    display: none;
}

.prodwrap:hover .addtocart {
    display: block;
}


.prodwrap .addtocart a {
    background-color: #fff;
    text-transform: uppercase;
    padding: 0 16px;
    top: 50%;
    position: absolute;
    left: 20%;
    width: 60%;
    border: 2px solid #676869;
    height: 36px;
    line-height: 36px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 13px;
}

.product {
    padding-bottom: 30px;
}

.product a {
    color: #000;
}
.product a:hover {
    color: #ae9f8e;
}

.socials {
    position: initial;
}

.add-to-cart, .view-variant {
  color: #03930F;
  border: 1px solid #03930F;
  width: auto;
  text-align: center;
  display: block;
  float: right;
  font-weight: bold;
  line-height: 16px;
  font-size: 12px;
  transition: background-color 300ms;
  margin: 15px 0;
  padding: 14px 10px;
}

.add-to-cart:hover, .view-variant:hover {
  color: #fff;
  background-color: #03930F;
}

.product-col .price {
  color: #03930F;
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
    .socials a , .socials li, .sub-links a , .sub-links li {
        display: inline-block;
        float: none;
    }
    .socials, .sub-links {
        text-align: center;
        display: block;
        width: 100%;
    }
    .socials {
        margin-bottom: 15px;
    }

  .product-col .price, .addtocart {
    text-align: center;
  }

  .add-to-cart, .view-variant {
    float: none;
  }
}

@media only screen and (max-width: 620px) {
    section.heading {
        height: 250px;
    }
    section.heading h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 520px) {
    section.heading {
        height: 200px;
        -webkit-background-size: 150% auto ;
        background-size: 150% auto;
    }
}

@media only screen and (max-width: 420px) {
}
